{% extends 'layouts/main.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <h1>Welcome to the Casting Agency</h1>

    <h3>Where do you want to go?</h3>
    <ul>
        <li>
            <a href="/view-actors">actors page</a>
        </li>

        <li>
            <a href="/movies">movies page</a>
        </li>

        <li>
            <a href="/actors/create">create new actor</a>
        </li>

        <li><a href="/public">Everyone can watch</a></li>
    </ul>

    <button>
        <a href="https://kcruz.us.auth0.com/authorize?audience=casting-agency&response_type=token&client_id=aSEem4cFG859MnUwmsNuwLuq4vKKMCk4&redirect_uri=https://127.0.0.1:5000">
            Login</a>
    </button>
{% endblock %}